.bg-cyan-600 {
  color: #ffffff;
  background-color: #0aa2c0;
}

.container-md .first-row li:first-child {
  border: 1px solid #a8a6a6;
  border-bottom: 0 solid #a8a6a6;
  color: #000000;
}
.container-md .first-row li {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #a8a6a6;
  color: #0aa2c0;
}
.container-md .first-row li.col-sm-1:hover {
  border: 1px solid #a8a6a6;
  color: #000000;
  cursor: pointer;
}
.container-md .second-row li span {
  font-size: smaller;
}
.container-md .second-row li .main-button {
  background-color: #0aa2c0;
  color: white;
}
.container-md .second-row li p,
.container-md .second-row li input,
.container-md .second-row li button {
  margin-top: 20px;
}