.bg-cyan-600 {
    color: #ffffff;
    background-color: #0aa2c0;
}

.container-md {
    .first-row {
        li:first-child {
            border: 1px solid #a8a6a6;
            border-bottom: 0 solid #a8a6a6;
            color: #000000;
        }
        li {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: 1px solid #a8a6a6;
            color: #0aa2c0;
        }
        li.col-sm-1:hover {
            border: 1px solid #a8a6a6;
            color: #000000;
            cursor: pointer;
        }
    }
    .second-row {
        li {
            span {
                font-size: smaller;
            }
            button {
                width: 70%;
                background-color: #0aa2c0;
                color: white;
            }
            p,
            input,
            button {
                margin-top: 20px;
            }
        }
    }
}
